include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include isoft_ai *.css
recursive-include isoft_ai *.csv
recursive-include isoft_ai *.html
recursive-include isoft_ai *.ico
recursive-include isoft_ai *.js
recursive-include isoft_ai *.json
recursive-include isoft_ai *.md
recursive-include isoft_ai *.png
recursive-include isoft_ai *.py
recursive-include isoft_ai *.svg
recursive-include isoft_ai *.txt
recursive-exclude isoft_ai *.pyc